@import url("https://fonts.googleapis.com/css2?family=Pretendard:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("./animation.css");
@import "tailwindcss";

@theme {
  --font-pretendard: "Pretendard", system-ui, -apple-system, sans-serif;
  --font-chakra: "Chakra Petch", system-ui, -apple-system, sans-serif;
  --font-roboto: "Roboto", system-ui, -apple-system, sans-serif;

  --color-charcoal: #2c2c2c;
  --color-darkgrey: #838383;
  --color-lightgrey: #d9d9d9;
  --color-yellow: #f5ff76;
  --color-green: #a5ae18;
  --color-lightgreen: #00f318;
  --color-red: #ff0000;

  --color-black:#2B2B2B;
  --color-white:#FFFFFF;
  --color-lightyellow:#F3FF60;
  --color-darkyellow:rgb(247,255,138);
  --color-purple:#B15FF0
  --color-gray1: #404040;
  --color-gray2:#606060;
  --color-gray3:#8c8c8c;
  --color-gray4:#c1c1c1;
  --color-gray5:#d9d9d9;
  --color-gray6:#e8e8e8;
  --color-black/70:rgb(43, 43, 43, 0.7);
  --color-black/50:rgb(43, 43, 43, 0.5);
  --color-black/35:rgb(255,255,255, 0.35);
  --color-white/70:rgb(255, 255, 255, 0.7);
  --color-white/50:rgb(255, 255, 255, 0.5);
  --color-white/30:rgb(255, 255, 255, 0.3);

/* eng */
  --text-title-xl: 2.25rem; /* 36px */
  --text-title-lg: 1.625rem; /* 26px */
  --text-title-md: 1.5rem; /* 24px */
  --text-title-sm: 1.125rem; /* 18px */

  --text-headline-lg: 2.625rem; /* 42px */
  --text-headline-md: 2.375rem; /* 38px */
  --text-headline-sm: 1.75rem; /* 28px */

  --text-body-lg: 1.5rem; /* 24px */
  --text-body-md: 1.25rem; /* 20px */
  --text-body-sm: 1rem; /* 16px */
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    @apply font-pretendard;
  }

  button {
    cursor: pointer;
  }
}

.message {
  box-sizing: border-box;
  flex-shrink: 0;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  contain: layout paint;
  animation: popUp 0.55s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.typing {
  animation: typing 0.3s ease forwards;
}
